.side-nav {
  position: fixed;
  width: 300px;
  top: 65px;
  bottom: 0;
  left: -300px;
  display: flex;
  align-items: flex-start;
  padding: 20px 50px;
  flex-direction: column;
  background-color: var(--secondary-background);
  z-index: 50;
  border-right: 1px solid var(--border);
}

.side-nav li {
  padding: 20px 0px;
}

.side-nav li * {
  font-size: 1.4rem;
}

.side-nav li:hover * {
  color: var(--primary);
}

.side-nav li:active {
  color: var(--primary);
}

@media only screen and (min-width: 768px) {
  .side-nav {
    width: 250px;
  }
}

@media only screen and (min-width: 992px) {
  .side-nav {
    width: 280px;
  }
}

@media only screen and (min-width: 1200px) {
  .side-nav {
    width: 300px;
  }
}
